p{
font-family: Georgia, 'Times New Roman', Times, serif;

}

.box{
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: aliceblue; 
  color:black;
  text-align: center;
  font-size:40px
  padding:50px;
  margin:30px; 
}

.dotted { border: 1px dotted #000; }
  
.round{
  border-radius: 10px;
}

.wrapper{
  width:300;
  margin:auto;
}
.text-centered {
  text-align: center;
}

.align-left{
  text-align:left;
}
img {
width: 10px;
}
.image-circle {
border-radius: 50%;
}

.image-style{
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  height: 20%;
}
